<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Trabalho Final disciplina Prog 2</display-name>

  <servlet>
    <servlet-name>ProdutoController</servlet-name>
    <servlet-class>org.prog2.controller.ProdutoController</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ListaProdutoController</servlet-name>
    <servlet-class>org.prog2.controller.ListaProdutoController</servlet-class>
  </servlet>


  <servlet>
    <servlet-name>InicioController</servlet-name>
    <servlet-class>org.prog2.controller.InicioController</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>InicioController</servlet-name>
    <url-pattern>/inicio</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ProdutoController</servlet-name>
    <url-pattern>/produto</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ListaProdutoController</servlet-name>
    <url-pattern>/listarprodutos</url-pattern>
  </servlet-mapping>




</web-app>
